.region-branding {
  padding-left: 15px;
  margin-bottom: 25px;
  .block-system-menublock ul.menu {
    @extend .no-ul-list;
    > li {
      margin-right: 1em;
    }
    a {
      padding: 0 5px;
    }
  }
  .block-system-branding-block {
    border-bottom: 2px solid $blk;
    margin-bottom: 15px;
  }
}
.site-branding-text {
  //padding: 10px 10px 10px 0;
  //font-size: 250%;
  a {
    color: $blk;
    &:hover {
      text-decoration: none;
    }
  }
}
// logo values
div.site-branding a.logo {
  width: 105px;
  display: block;
  padding: 5px 5px 0;
  float: left;
  margin-bottom: 5px;
}
