/* line 1, ../sass/geofield_map_widget.scss */
.geofield-map-cnt {
  display: block;
  margin: 10px 0;
  border: solid thin darkgray;
}
/* line 5, ../sass/geofield_map_widget.scss */
.geofield-map-cnt .leaflet-top {
  z-index: 10;
}

/* line 10, ../sass/geofield_map_widget.scss */
.geofield-map-buttons {
  margin: 10px 0;
}

/* line 14, ../sass/geofield_map_widget.scss */
.geofield_map_geoaddress_field_hidden {
  display: none;
}

/* line 18, ../sass/geofield_map_widget.scss */
.gmap-apikey-missing.geofield-map-warning,
.gmap-apikey-missing.geofield-map-warning a {
  margin: 4px 0;
  color: lightgray;
}
